@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #a9ccf1;
}

form {
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
  
  input,
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    form {
      width: 100%;
      padding: 0 20px;
    }
  }
  